<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backtesting</title>
    <!-- <link rel="stylesheet" href="backtesting.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js" integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0=" crossorigin="anonymous"></script>

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</head>
<body>
    <h1>SP Backtesting: </h1>
    <div class="container">
        <h4>User Details: </h4>
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">User id</span>
            <input type="text" id="userId" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Password</span>
            <input type="password" id="password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
    </div>
    <hr>
    <div class="container">
		<h4>Backtesting Details: </h4>
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Product Code</span> 
            <!-- Need to set such that multiple names and indicators can be input -->
            <input type="text" id="prodCd" class="form-control" value='[{"name": "YMU2","indicators": [{"maxLen": 0,"indicatorName": "sma","period": 10},{"maxLen": 0,"indicatorName": "ema","period": 10}]}]'>
            <!-- "POST /login HTTP/1.1" 307 Temporary Redirect -->
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Portfolio Value</span>
            <input type="number" id="portVal" class="form-control" min="0" autocomplete="off" value="1000000">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Boundary Value (Optional)</span>
            <input type="number" id="boundVal" class="form-control" min="0" autocomplete="off" value="0">
        </div>
        <div>
            <span class="input-group-text" id="inputGroup-sizing-default">Live Trading?</span>
            <!-- <p>Live Trading? </p> -->
            <!-- <input type="text" id="livTrad" class="form-control" autocomplete="off" value="False"> -->
            <!-- <input type="radio" id="livTrad" name="live_trade" autocomplete="off" value="True">
            <label for="True">True</label> <br>
            <input type="radio" id="livTrad" name="live_trade" autocomplete="off" value="False" checked="checked">
            <label for="False">False</label>  -->
            <input type="checkbox" id="livTrad" name="livTrad" autocomplete="off" value="Live">
            <label for="livTrad">True</label>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Days (Optional)</span>
            <input type="number" id="day" class="form-control" min="1" autocomplete="off" value="2">
        </div>
        <div>
            <span class="input-group-text" id="inputGroup-sizing-default">Bar Summary</span>
            <!-- <input type="text" id="barSum" class="form-control" autocomplete="off" value=""> -->
            <input type="radio" id="barSumDay" name="barSum" autocomplete="off" value="Day">
            <label for="day">Day</label> <br>
            <input type="radio" id="barSumHour" name="barSum" autocomplete="off" value="Hour">
            <label for="hour">Hour</label> <br>
            <input type="radio" id="barSumMinute" name="barSum" autocomplete="off" value="Minute">
            <label for="minute">Minute</label> <br>
            <input type="radio" id="barSumSecond" name="barSum" autocomplete="off" value="Second" checked="checked">
            <label for="second">Second</label> <br>
        <!-- </div>
        <div class="input-group mb-3"> -->
            <span id="inputGroup-sizing-default">Input Time</span>
            <input type="number" id="time" min="0" autocomplete="off" value="5">
            <!-- {
                "day": false,
                "hour": false,
                "minute": false,
                "second": true,
                "input_time": 60
            } -->
        </div>
    </div>
    <hr>
    <div class="container">
        <button id="beginbacktest" type="submit" class="btn btn-outline-dark">Start backtesting</button>
        <div id="results"></div>
        <div id="p0"></div>
    </div>
    <script>
        $(function(){
            $("#beginbacktest").click(
                function(event){
                    var userId = $("#userId").val()
                    var password = $("#password").val()
                    console.log(userId, password)

                    $("#userId").val("")
                    $("#password").val("")

                    loginData = JSON.stringify({
                        "apiAppId": "SP_F",
                        "mode": 0,
                        "password": password,
                        "userId": userId
                    })

                    console.log(loginData)
                    event.preventDefault()
                    $('#results').html(loginData)

                    loginUrl = "http://127.0.0.1:8000/login"
                    $.ajax({
                        type: "POST",
                        url: loginUrl,
                        dataType: "json",
                        contentType: "application/json",
                        data: loginData,
                        success: function(response, textStatus, jqXHR){
                            console.log(response)
                            $('#p0').html("LOGIN SUCCESSFUL")

                            if(response.result_code){
                                console.log(response.result_msg) // do error handling here, it will show "No Such User or Wrong Password"
                                return false
                            }
                            userData = response.data
                            var prodCode = $("#prodCd").val()
                            var portfolioValue = $("#portVal").val()
                            var boundaryValue = $("#boundVal").val()
                            // var liveTrade = $("#livTrad").val()
                            var liveTrade = document.getElementById("livTrad").checked // Checks checked property of element
                            var days = $("#day").val()
                            var barSumDay = document.getElementById("barSumDay").checked
                            var barSumHour = document.getElementById("barSumHour").checked
                            var barSumMinute = document.getElementById("barSumMinute").checked
                            var barSumSecond = document.getElementById("barSumSecond").checked
                            var time = $("#time").val()

                            loginData = JSON.stringify({
                                "prodCode": prodCode, // Unsure of how to implement several prodCodes // indicators will be removed
                                "portfolioValue": portfolioValue,
                                "boundaryValue": boundaryValue,
                                "liveTrade": liveTrade,
                                "days": days,
                                "barSummary": {
                                    "day": barSumDay,
                                    "hour": barSumHour,
                                    "minute": barSumMinute,
                                    "second": barSumSecond,
                                    "input_time": time
                                }
                            })

                            myRequest = {
                                userId: userId,
                                spServerKey: spServerKey,
                                sessionTime: sessionTime
                            }

                            backtestingUrl = "http://127.0.0.1:8000/backtesting/run"

                            $.ajax({
                                type: "POST",
                                url: backtestingUrl,
                                dataType: "json",
                                contentType: "application/json",
                                data: JSON.stringify(myRequest),
                                success: function(response){
                                    console.log(response)
                                    data = JSON.parse(response)
                                    $('#results').html(data)
                                },
                                error: function(jqXHR, textStatus, errorThrown){
                                    console.log(errorThrown)
                                    $('#results').html("ERROR TRYING TO PROCESS: " + " " + errorThrown)
                                }
                            })
                        },
                        error: function(jqXHR, textStatus, errorThrown){
                            console.log(errorThrown)
                            $('#p0').html("ERROR TRYING TO LOGIN: " + " " + errorThrown)
                        }
                    })
                    // }).then(
                    //     function(response){
                    //         if(response.result_code){
                    //             console.log(response.result_msg) // do error handling here, it will show "No Such User or Wrong Password"
                    //             return false
                    //         }
                    //         userData = response.data
                    //         var prodCode = $("#prodCd").val()
                    //         var portfolioValue = $("#portVal").val()
                    //         var boundaryValue = $("#boundVal").val()
                    //         // var liveTrade = $("#livTrad").val()
                    //         var liveTrade = document.getElementById("livTrad").checked // Checks checked property of element
                    //         var days = $("#day").val()
                    //         var barSumDay = document.getElementById("barSumDay").checked
                    //         var barSumHour = document.getElementById("barSumHour").checked
                    //         var barSumMinute = document.getElementById("barSumMinute").checked
                    //         var barSumSecond = document.getElementById("barSumSecond").checked
                    //         var time = $("#time").val()

                    //         loginData = JSON.stringify({
                    //             "prodCode": prodCode, // Unsure of how to implement several prodCodes // indicators will be removed
                    //             "portfolioValue": portfolioValue,
                    //             "boundaryValue": boundaryValue,
                    //             "liveTrade": liveTrade,
                    //             "days": days,
                    //             "barSummary": {
                    //                 "day": barSumDay,
                    //                 "hour": barSumHour,
                    //                 "minute": barSumMinute,
                    //                 "second": barSumSecond,
                    //                 "input_time": time
                    //             }
                    //         })

                    //         myRequest = {
                    //             userId: userId,
                    //             spServerKey: spServerKey,
                    //             sessionTime: sessionTime
                    //         }

                    //         backtestingUrl = "http://127.0.0.1:8000/backtesting/run"

                    //         $.ajax({
                    //             type: "POST",
                    //             url: backtestingUrl,
                    //             dataType: "json",
                    //             contentType: "application/json",
                    //             data: JSON.stringify(myRequest),
                    //             success: function(response){
                    //                 console.log(response)
                    //                 data = JSON.parse(response)
                    //                 $('#results').html(data)
                    //             },
                    //             error: function(jqXHR, textStatus, errorThrown){
                    //                 console.log(errorThrown)
                    //                 $('#results').html("ERROR TRYING TO PROCESS: " + " " + errorThrown)
                    //             }
                    //         })
                    //     }
                    // )
                }
            )
        })
    </script>
</body>
</html>